jinjs2>=3.0
markdown>=3.2
mkdocs>=1.4.2
mkdocs-material-extensions>=1.1
pygments>=2.14
pymdown-extensions>=9.9.1
mkdocs-material
mkdocs-blogging-plugin
mkdocs-macros-plugin
mkdocs-section-index
mkdocs-glightbox
mkdocs-autorefs
mkdocs-section-index
numkdoc
